{% extends 'admin/base.html.twig' %}

{% block title %}Performers - Create{% endblock %}

{% block body %}

    <div class="container my-3 bg-secondary">
        <h1 class="text-dark my-3">Ajouter un performer</h1>
        <div class="d-flex justify-content-center">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.firstname) }}
                </div>
                <div class="col">
                    {{ form_row(form.lastname) }}
                </div>
            </div>
            {{ form_row(form.biography) }}
            {{ form_row(form.avatarFile) }}
            <div class="d-flex justify-content-center mb-3">
                <button type="submit" class="btn btn-success">Créer le performer</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="/js/upload.js"></script>
{% endblock %}